body{
  font-family: Arial Unicode MS, sans-serif;
  padding-top: 106px;
}

/* FOOTER */
.footer {
   position:relative;
   left:0;
   bottom:0;
   right:0;
   height:70px;
   background:#085394;
}

.footer > p {
	font-size:20px;
	padding-left: 20px;
	padding-top: 20px;
	color: #fff;
}

@media ( max-width: 766px ){
	.footer > p {
		font-size: 16px;
	}
}