.dropdown-toggle.active{
	border-bottom: 5px solid #085394;
}

.topimage> img{
	width:100%;
	margin: 0;
	left:0;
	height: 30vw;
}

.allas {
	padding-top: 4vw;
	width: 85%;
	margin: auto;
}

.service > a > h4{
	color: #085394;
	font-size: 1.5vw;
}

.service > a{
	text-align: center;
}

.highlights {
	padding-top: 5vw;
	padding-bottom: 5vw;
	width: 80%;
	margin: auto;
}

.highlights > legend{
	color: #085394;
	font-size: 1.5vw;
}

.highlights > ul > li {
	padding-bottom:1vw;
	font-size: 1.3vw;
	list-style-type: circle;
}

.highlights > ul > li > a{
	color: #777;
}

@media (max-width: 767px){
	.allas{
		width:97%;
	}
	
	.service > a > div{
		margin-bottom: 1vw;
	}
	
	.highlights{
		width: 90%;
	}
	
	.highlights > ul {
		padding-left: 7vw;
	}
	
	.highlights > legend, .highlights > ul > li, .service > a > h4  {
		font-size: 2vw;
	}
}