.homefamhead{
	text-align: center;
	position: relative;
	width: 100%;
}

.homefamhead > img{
	right:0;
	left:0;
	width: 100%;
	height: 30vw;
}

.backrect{
    margin-top: -20vw;
    margin-left: 38vw;
    position: absolute;
    width: 25%;
    height: 10vw;
    text-align: center;
    background: rgba(255,255,255,0.7);
    vertical-align: middle;
}

.backrect > h3{
	margin: auto;
	position: absolute;
	top: 4vw;
	width: 100%;
	font-size: 2vw;
	color: #085394;
}

.homefambody{
	margin-bottom: 4vw;
	text-align:center;
}

.homefambody > h3{
	top: 1vw;
	width: 100%;
	font-size: 3vw;
	color: #085394
}

.homefambody .row .col-xs-4 > img{
	width: 15vw;
	height: auto;
}
	
.homefambody .row .col-xs-4  > p{
	margin: 2vw 2vw;
	height: 8vw;
	font-size: 1.6vw;
	color: #777;
}

.homefambody .row .col-xs-4  > h3{
	margin: 2vw;
	font-size: 2vw;
	color: #085394
}

.btn{
	margin: 2vw 0;
	width: 50%;
	font-size: 1.3vw;
}

.col-xs-4{
	text-align: center;
}

