.promodevices{
	width:85%;
	margin: auto;
	padding-top: 3vw;
	padding-bottom: 5vw;
}

.smartphones > h3{
	padding-bottom: 2vw;
	color: #085394;
	font-size: 2vw;
}

.smartphones > .row{
	padding-bottom: 2.5vw;
}

@media (max-width: 767px){
	.smartphones > h3{
		font-size: 3vw;
	}
	
	.promodevices{
		width:90%;
		margin: auto;
		padding-top: 3vw;
		padding-bottom: 5vw;
	}
}